.login {
  display: grid;
  place-items: center;
  background-color: black;
  height: 100vh;
}

.logo {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
  filter: invert(100%);
}

.login > img {
  width: 50%;
}

.login-btn {
  text-decoration: none;
  border-radius: 99px;
  padding: 20px;
  color: white;
  font-weight: 700;
  text-transform:uppercase;
  letter-spacing: 2px;
  background-color: rgb(99, 7, 99);
  cursor: pointer;
}
