.sidebar {
  height: 100vh;
  flex: 0.2;
  min-width: 230px;
  padding: 0 10px 0 10px;
  background-color: #000000;
  color: #ffffff;
}
.sidebar-logo{
  height: 70px;
  padding: 10px;
  margin-right: auto;
}

@media screen and (max-width: 960px) {
  .sidebar-logo{
    height: 50px;
  }
  
}